html {
  background-color: brown;
}

h1 {
  font-family: 'Bevan', cursive;
  font-size: 3rem;
  color: #fff;
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  background-color: pink;
}

li {
  font-family: arial;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 0.3em;
}
